		<!-- Portfolio -->
<div class="wrapper style3">
    <article id="portfolio">
        <header>
            <h2>Here’s some stuff I made recently.</h2>
            <p>Proin odio consequat  sapien vestibulum consequat lorem dolore feugiat lorem ipsum dolore.</p>
        </header>
        <div class="container">
            <div class="row">
                <div class="4u 12u(mobile)">
                    <article class="box style2">
                        <a href="#" class="image featured"><img src="/Content/images/pic01.jpg" alt="" /></a>
                        <h3><a href="#">My personal website</a></h3>
                        <p>An ASP.NET MVC SPA</p>
                    </article>
                </div>
                <div class="4u 12u(mobile)">
                    <article class="box style2">
                        <a href="#" class="image featured"><img src="/Content/images/pic02.jpg" alt="" /></a>
                        <h3><a href="#">DaneeCastillo.com</a></h3>
                        <p>An HTML/Bootstrap/AngularJS/Web API</p>
                    </article>
                </div>
                <div class="4u 12u(mobile)">
                    <article class="box style2">
                        <a href="#" class="image featured"><img src="/Content/images/pic03.jpg" alt="" /></a>
                        <h3><a href="#">AbundantPlan.com</a></h3>
                        <p>ASP.NET MVC/Bootstrap/Web API</p>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="4u 12u(mobile)">
                    <article class="box style2">
                        <a href="#" class="image featured"><img src="/Content/images/pic04.jpg" alt="" /></a>
                        <h3><a href="#">Web API Services</a></h3>
                        <p>Built to support various applications</p>
                    </article>
                </div>
                <div class="4u 12u(mobile)">
                    <article class="box style2">
                        <a href="#" class="image featured"><img src="/Content/images/pic05.jpg" alt="" /></a>
                        <h3><a href="#">WCF Web Services</a></h3>
                        <p>Examples of WCF Services I've built</p>
                    </article>
                </div>
                <div class="4u 12u(mobile)">
                    <article class="box style2">
                        <a href="#" class="image featured"><img src="/Content/images/pic06.jpg" alt="" /></a>
                        <h3><a href="#">More...</a></h3>
                        <p>Code samples on GitHub.</p>
                    </article>
                </div>
            </div>
        </div>
        <footer>
            <p>If you want to learn more, please feel free to ...</p>
            <a href="#contact" class="button big scrolly">... get in touch with me</a>
        </footer>
    </article>
</div>

