
		<!-- Home -->
			<div class="wrapper style1 first">
				<article class="container" id="top">
					<div class="row">
						<div class="4u 12u(mobile)">
							<span class="image fit"><img src="/Content/images/pic00.jpg" alt="" /></span>
						</div>
                        <div class="8u 12u(mobile)">
                            <header>
                                <h1>Hi. I'm <strong>Beth Castillo</strong>.</h1>
                            </header>
                            <p>
                                I'm a wife, a mom with grown children and an animal lover.
                                I am also a web developer with many years of experience writing
                                code and building web applications.
                            </p>
                            <div class="row 200%">
                                <div class="12u">
                                    <ul class="actions">
                                        <li><a href="#about" class="button scrolly">Learn more about me</a></li>
                                        <li><a href="#work" class="button scrolly">Learn more about what I do</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
			</div>
